body{
    font-family: 'Open Sans', sans-serif;
}

.navbar{
    box-shadow: 4px 2px 5px gray;
    position: sticky;
}

.DSC{
    font-size: 1.7em;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    vertical-align: middle;
}

.DSC-logo{
    width: 1.5em;
    vertical-align: middle;
}

.container{
    text-align: center;
}

.top-conatiner{
    height: 120%;
}

.top-image{
    min-height: 100%;
    max-width: 100%;
}

.heading-title{
    color: #4286F4;
    font-size: 4em;
    margin: 1.2em;
}

.details{
    font-size: 2em;
    text-align: left;
}

.tracks-container{
    margin: 1.2em;
}

.tracks-title{
    font-weight: bold;
}

.tracks-list{
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    flex-direction: column;
    padding: 1em;
}

.track-item{
    /* display: flex; */
    border: dashed gray 4px;
    border-radius: 16px;
    padding: 1em;
    margin: 0.5em;
    min-width: 50%;
    transition: all .1s ease-in-out;
}

.track-item:hover{
    transform: scale(1.05);
}

.track-heading{
    font-weight: bold;
    font-size: 3em;
    margin-bottom: 0;
}

.track-1{
    color: #EA4335;
}

.track-2{
    color: #4286F4;
}

.track-3{
    color: #34A853;
}

@media screen and (max-width: 600px){
    .DSC{
        font-size: 1em; 
    }

    .heading-title{
        font-size: 2em;
    }

    .details{
        font-size: 1em;
    }

    .track-heading{
        font-size: 1.5em;
    }
}